.button {
    padding: 5px 20px;
    border: none;
    background-color: var(--accent-color);
    cursor: pointer;
    border-radius: 10px;

    transition: transform .3s ease;
}

.button:hover {
    transform: scale(1.03);
}
