.button {
    padding: 5px 20px;
    cursor: pointer;
    border-radius: var(--border-radius);

    transition: transform .3s ease;

    &_view_primary {
        background-color: var(--accent-color);
        border: none;
    }

    &_view_secondary {
        background: none;
        border: 1px solid var(--accent-color);
    }
}

.button:hover {
    transform: scale(1.03);
}
