.main {
    margin-inline: 20%;
    padding-block: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
    height: 100dvh;

    &__empty {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        
        & span {
            font-size: 2rem;
            text-transform: uppercase;
            opacity: .3;
            font-weight: 700;
        }
    }

    & footer {
        height: 50px;
        border-radius: var(--border-radius);
        background-color: var(--bg-color-secondary);
        margin-top: auto;
    }
}
