.todo {
    margin-inline: 20%;
    padding-top: 50px;
}

.todo-container {
    display: flex;
    flex-direction: column;
    gap: var(--elements-gap);
    margin-top: var(--section-gap);
}

.todo-item {
    background: var(--bg-color-30);
    border-radius: 10px;
    padding: 10px 20px;
}
