.todo-list {
    display: flex;
    flex-direction: column;
    gap: var(--elements-gap);
    overflow-y: scroll;

    &__item {
        background: var(--bg-color-secondary);
        border-radius: var(--border-radius);
        padding: var(--block-padding);
        display: flex;

        &-content {
            display: flex;
            flex-direction: column;
            gap: var(--elements-gap);
            flex-grow: 1;
        }

        &-title {
            font-weight: 700;
        }

        &-actions {
            display: flex;
            flex-direction: row;
            gap: var(--field-gap);
            align-items: center;
            opacity: 0;
            transition: opacity .15s ease;
        }

        &-action {
            width: 25px;
            height: 25px;
            cursor: pointer;
            opacity: .7;
            transition: opacity .15s ease;

            &:hover {
                opacity: 1;
            }

            &_done {
                background-color: green;
            }

            &_revert {
                background-color: orange;
            }

            &_edit {
                background-color: yellow;
            }

            &_delete {
                background-color: red;
            }
        }
    }

    &::-webkit-scrollbar {
       display: none;
    }
}

.todo-list__item:hover .todo-list__item-actions {
    opacity: 1;
}
