.header {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-secondary);
    padding: var(--section-padding);

    &__title {
        font-weight: 700;
        font-size: 1.2rem;
    }

    &__add-task {
        font-weight: 700;
    }
}
