@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color-primary: hsl(220 40 10);
    --bg-color-secondary: hsl(220 40 15);
    --primary-color: hsl(220 40 90);
    --accent-color: hsl(151 60 25);
    --accent-color-light: hsl(151 60 60);

    --section-padding: 20px 30px;
    --block-padding: 10px 30px;
    
    --section-gap: 20px;
    --elements-gap: 10px;
    --field-gap: 5px;

    --border-radius: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color);

    font-family: "Montserrat", serif;
    font-size: 16px;
}

body {
    background: var(--bg-color-primary);
}
